@font-face {
    font-family: 'Sh Europa';
    src: url('ShEuropa-Bold.woff2') format('woff2'),
        url('ShEuropa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

